firebase==4.0.1
firebase-admin==6.1.0
Flask==2.1.0
Flask-Login==0.6.2
google-cloud-storage==2.7.0
Jinja2==3.1.2
pandas==2.0.0
plotly==5.14.1
pytest==6.2.5
Werkzeug==2.2.2
itsdangerous==2.12
MarkupSafe==2.1.2
pytest-cov==2.11.1