<!DOCTYPE html>
<html>
    <center>

    <a href="/">Home</a> &emsp;&emsp;  <a href="/pages">Pages</a>  &emsp;&emsp; <a href="/about">About</a> &emsp;&emsp;| &nbsp; &nbsp; <a href="/signin">Login</a>  &emsp;&emsp; <a href="/signup">Sign Up</a>

{% block page_name %}
<div>
    <h1>Founding Authors</h1>
    <center>
        <h2>Kemar Jordan</h2>
        <div><img src="{{ author_1}}" alt="Kemar Jordan" width="400" height=auto></div>
    </center>
    <center>
        <h2>Danielle McIntosh</h2>
        <div><img src="{{ author_2}}" alt="Danielle McIntosh" width="400" height=auto></div>
    </center>
    <center>
        <h2>Kristofer Valerio</h2>
        <div><img src="{{ author_3}}" alt="Kristofer Valerio" width="400" height=auto></div>
    </center>
</div>
{% endblock %}

</html>
