<!DOCTYPE html>
<html>
    <center>
    <a href="/">Home</a> &emsp;&emsp;  <a href="/pages">Pages</a>  &emsp;&emsp; <a href="/about">About</a>  &emsp;&emsp; <a ""></a>{{username}}</a> &emsp;&emsp; <a href="/upload">Upload</a> &emsp;&emsp;  <a href="/logout">Logout</a>  

    <div>
        <h1>Welcome to the Python Wiki</h1>
        <h2>A hub for python projects</h2>
        <body>
            Welcome {{username}}!
        </body>
    </div>
    {% block page_name %}
{% endblock %}

{% block content %}

{% endblock %}

</center>

</html>