<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            background-color: {{ color }};
        }
    </style>
</head>

    <center>
    {%if value%}
    <a href="/">Home</a> &emsp;&emsp;  
    <a href="/pages">Pages</a>  &emsp;&emsp;    
    <a href="/about">About</a> &emsp; | &emsp;  
    {{username}} &emsp; | &emsp;
    <a href="/upload">Upload</a> &emsp;&emsp;  
    <a href="/logout">Logout</a> &emsp;&emsp; 
    {%else%}
    <a href="/">Home</a> &emsp;&emsp;   
    <a href="/about">About</a> &emsp;&emsp; 
    <a href="/pages">Pages</a> &emsp; | &emsp;
    <a href="/signin">Login</a>  &emsp;&emsp; 
    <a href="/signup">Sign Up</a>
    {%endif%}

<h1>The Python Wiki</h1>  

</center>

</html>