<!DOCTYPE html>
<html>
    <center>
    <!-- <a href="/Home">Home</a>
    &emsp;&emsp;
    <a href="/Pages">Pages</a>
    &emsp;&emsp;
    <a href="/About">About</a>
    &emsp;&emsp;
    <a href="/Login">Login</a>
     &emsp;&emsp;
    <a href="/SignUp">Sign Up</a> -->
    <a href="/">Home</a> &emsp;&emsp;  <a href="/pages">Pages</a>  &emsp;&emsp; <a href="/about">About</a>  &emsp;&emsp;  <a href="/signin">Sign In</a>  &emsp;&emsp; <a href="/signup">Sign Up</a>

    <div>
        <h5>Welcome to the Python Wiki</h5>
        <h5>A hub for python projects</h5>
    </div>
    {% block page_name %}
{% endblock %}

{% block content %}

{% endblock %}

</center>

</html>